@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    padding: 10px;
    box-sizing: border-box;
}

h1 {
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: "montserrat", sans-serif;
}

img {
    width: clamp(100%, 50vw, 50%);
    height: 50vh;
    min-height: auto;
    height: auto;
    max-width: 40vh;
    object-fit: cover;
    display: block;
    margin: 20px 0;
    border: 1px solid #000;
}

.profile {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    height: 100vh;
    align-items: center;
}

.profile .male, .profile .female {
    position: relative;
}

#avatar, #ma {
    width: 140px;
    border-radius: 100px;
}

#loading, #f-loading {
    background-color: #848484a9;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 15px;
    transition: all .2s ease-in-out;
}

button {
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #000;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

button:hover {
    background-color: #63efff;
}

p {
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    text-transform: capitalize;
}

.text {
    font-size: 14px;
    margin: 20px auto;
}

#myMap {
    height: 500px;
    width: 100%;
}

.leaflet-shadow-pane img {
    border: none !important;
}

.leaflet-marker-icon {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }

  form {
    display: block;
    width: 50%;
    padding: 10px 0;
    box-sizing: border-box;
}

form input {
    padding: 10px 10px;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 5px;
    width: 30%;
}

form button {
    display: block;
}